@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap);

:root {
    --primary-200: #bae6fd !important;
    --primary-300: #7dd3fc !important;
    --primary-400: #38bdf8 !important;
    --primary-500: #0ea5e9 !important;
    --primary-600: #0284c7 !important;
    --primary-700: #0369a1 !important;

    --text-main-0: #000 !important;
    --text-main-100: #000 !important;
    --text-main-200: #000 !important;
    --text-main-400: #4B4B4B !important;
    --text-hover: #000 !important;

    --bg-50: #fff !important;
    --bg-100: #fff !important;
    --bg-200: #fff !important;
    --bg-300: #fff !important;
    --bg-400: #fff !important;
    --bg-500: #F1F1F1 !important;
    --bg-600: #F1F1F1 !important;
    --bg-700: #fff !important;
    --bg-800: #fff !important;
    --bg-900: #fff !important;
    --bg-950: #fff !important;

    --danger: #dc2626;
    --danger-dark: #b91c1c;
    --danger-darker: #991b1b;

    --success: #22c55e;

    --create: #16a34a;
    --create-dark: #15803d;

    --warning: #fb923c;
    --warning-dark: #ea580c;

    --thumb-shadow-color: rgba(0, 0, 0, 0.05);
    --overlay-bg: rgba(255, 255, 255, 0.8);
    --overlay-shadow-color: rgba(0, 0, 0, 0.1);
    --preview-overlay-bg: rgba(255, 255, 255, 0.7);
}

#lychee_toolbar_container {
    border-bottom-color: #ECECEC !important;
}

.album-thumb .overlay {
    text-shadow: none !important;
}

.album-thumb .overlay h1 {
    font-weight: 400 !important;
    font-size: 1rem !important;
}

.album-thumb .overlay {
    background: var(--preview-overlay-bg) !important;
}

.thumbimg {
    box-shadow: 2px 2px 16px 1px var(--thumb-shadow-color) !important;
}

.thumbimg img:not([data-src]) {
    filter: invert(1) !important;
}

.text-neutral-200 {
    color: var(--text-main-0) !important;
}

.text-neutral-300 {
    color: var(--text-main-0) !important;
}

.basicModalContainer {
    background-color: var(--overlay-bg);
    backdrop-filter: blur(10px);
}

.basicModal {
    box-shadow: 2px 2px 64px 1px var(--overlay-shadow-color);
}

#imageview {
    background-color: var(--overlay-bg);
    backdrop-filter: blur(10px);
}

.bg-black {
    background: none;
}

.menu-shadow svg {
    filter: invert(1);
}

#photoListing .photo .overlay {
    background: var(--preview-overlay-bg);
    text-shadow: none;
}